html,body {
    margin: 0;
    height: 1200px;
}

.page1 {
    background-image: url("../../assets/images/ccac_page1.png");
    background-repeat: no-repeat;
    height: 1061px;
    width: 820px;
}

.page1 p {
    position: absolute;
    font-size: 15px;
    padding: 0;
    margin: 0;
}
